*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(104, 104, 104);
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}

form {
  position: fixed;
  top: 100px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  border: 1px solid white;
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.items {
  position: fixed;
  top: 160px;
  right: 30%;
  left: 30%;
  bottom: 10vh;
  border-radius: 8px;
  overflow-y: auto ;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}

.float-right {
  float: right;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}